{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
  <h1>Search Result</h1>
  <table class="table table-striped">
    <thead>
      <tr class="d-flex align-items-center">
        <th class="col-6">Name</th>
        <th class="col-6">Picture</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex align-items-center">
        <td class="col-6 border-0">
          <a href="/recipe_info/{{ food.id }}" class="btn btn-outline-success"
            >{{ food.title }}</a
          >
        </td>
        <td class="col-6"><img src="{{ food.image }}" alt="" /></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
