{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column align-items-center">
  <h1>Recipe Information</h1>
  <table class="table">
    <thead>
      <tr class="d-flex align-items-center">
        <th class="col-4">Name</th>
        <th class="col-4">Ingredients</th>
        <th class="col-4">Instructions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex align-items-center">
        <th class="col-4 border-0">{{ food.title }}</th>
        <td class="col-4 border-0">
          <ul class="list-group">
            {% for ingredient in all_ingredients %}
            <li class="list-group-item border-0">{{ ingredient.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="col-4 border-0">{{ instructions }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
